/* common shared styles */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header related style */ 

header{
    margin: 50px 140px 120px 140px;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.header-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
    margin-bottom: 0px;
}
.header-subject{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    margin-top: 16px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 270px 344px;
}

/* main related style */

/* off related styles */

.off-section{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.holiday-section{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.catagory-section{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-photo{
    display: flex;
    justify-content: center;
}

/* midnight section related styles */

.midnight-party-container{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px 140px ;
    display: flex;
    gap: 200px;
    border-radius: 10px;
}
.midnight-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 126px 0 0 126px;
}
.midnight-descripton{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400; 
    padding-left: 126px;
    margin-bottom: 30px;
    }
.midnight-image-section{
    padding: 70px 140px 70px 0px;
}
.midnight-anchor{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 160px;
    margin-top: 0px;
}

/* time-section related style */

.time-section{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; 
    
}
.time-section-color{
    color: #F00;
}
.primary-button{
    border-radius: 8px;
    color: #FFF;
    background: #F00;
    padding: 16px 32px;
    border: none;
}
.time-details{
    background-color: rgba(250, 128, 114, 0.479);
    padding: 100px 385px;
    margin: 0 140px 120px 140px;
    border-radius: 10px;
}

/* celebration section styles */

.celebration-section{
    margin: 0 140px 120px 140px;
    display: flex;
    justify-content: space-evenly;
    gap: 300px;
    padding-right: 120px;
}

.celebration-section-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.celebration-section-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.celebration-section-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.celebration-section-image{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px 20px;
   
}
.celebration-section-date{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.celebration-sections-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/* holiday section style */

.holiday-sale-container{
    margin: 0 140px;
}
.holiday-sale-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.holiday-sale-about{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-color{
    color: #F00;
}
.holiday-sale-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.holiday-image{
    margin: 120px 140px;
    background-image: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle 1.png');
    background-repeat: no-repeat;
    background-size: contain, 35%;
    background-position: bottom, top right;
}
#holiday-last{
    padding: 150px 300px 350px 60px ;
}

/* gift-section-title-styles */

.gift-section{
    margin: 0 140px 120px 140px;
}

.gift-section-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.gift-section-subject{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.gift-section-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.image-section{
    display: flex;
}

.image-section img:hover{
    display: none;
}

.image-gap{
    margin-bottom: 10px;
}
.subscribe-section{
    margin: 0px 140px 120px 140px;
    background-color: rgba(250, 128, 114, 0.479);
    padding: 120px;
    border-radius: 10px;
}
.subscribe-image{
    display: flex;
    justify-content: center;
}
.subscribe-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.subscribe-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.input-style{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 25px 180px 25px 0px;
    margin-left: 350px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    margin-right: none;
}
.subscribe-button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 25px 56px;
    margin-left: -10px;
}

/* footer style */

footer{
    background-color: black;
    padding: 120px 140px;
}
.first-part{
    display: flex;
    justify-content: space-between;

}
.footer-address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 40px;  
}
.footer-info{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.second-part{
    padding: 40px 600px;
}
.second-part img{
    margin-left: 15px;
}
.last-info{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.third-part{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}